$header_height : 34px;
$toolbar_height : 40px;
$formula_height : 24px;
$info_cell_width : 40px;
$cell_width : 120px;
$row_height : 24px;
$db_height : 64px;
$border_color : #c0c0c0;
$primary_color: #3c74ff