@import "variables";
@import "mixins";

.excel__toolbar{
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  top: $header_height;
  height: $toolbar_height;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  padding: 7px 10px;

  & .button{
    @include button()
  }
}
